.page-content {
    padding: 15px;
    margin-top: 35px;
}

.hidden{
    display: none;
}

.block--center {
    position: absolute;
    left: 50vw;
    top: 50vh;
    height: 50vh;
    width: 50vw;
    transform: translate(-25vw, -25vh);
    text-align: center;
}

.scanner{
    position: absolute;
    left: 50vw;
    top: 50vh;
    height: 50vh;
    width: 50vw;
    transform: translate(-25vw, -25vh);
}